
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-3.2.0.min.js"></script>
    <script src="~/Scripts/Underscore.js"></script>
    <script src="~/Scripts/functionsWithParsers.js"></script>
</head>
<body>
    <div> 
        <button onclick="getDataTable()">get dt</button>
        <button onclick="getExcelDataTable()">get Excel</button>
        <div id="dataTable">

        </div>
    </div>
</body>
</html>
